.login-form
    form(method="post", enctype="multipart/form-data")
      input(type="file", name="displayImage")
      input(type="submit", name="submit", value="Submit")

if uploaded
    img(src=imageUrl)