extends layout/layout

block content
  div.imagescontainer
    include tripboard/gallery
  #LoadingPins
  nav(id="page-nav", class="hide")
    a(href="/?page=2")

block bottom-js
  script(src='/js/index.js')
