/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../ui/sass/main.scss */
body {
  padding: 0 30px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f7f5f5 url(../imgs/bg.jpg);
}

/* line 12, ../../ui/sass/main.scss */
#header {
  height: 50px;
  margin: auto;
  width: 950px;
  background-color: #FAF7F7;
  position: fixed;
}
/* line 20, ../../ui/sass/main.scss */
#header nav {
  position: relative;
  float: right;
}
/* line 24, ../../ui/sass/main.scss */
#header nav ul li {
  display: inline;
}
/* line 26, ../../ui/sass/main.scss */
#header nav ul li a {
  light-height: 13px;
  padding: 10px;
}

/* line 35, ../../ui/sass/main.scss */
.brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}

/* line 45, ../../ui/sass/main.scss */
a {
  color: #00B7FF;
  text-decoration: none;
}

/* line 50, ../../ui/sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, ../../ui/sass/main.scss */
.pin {
  padding: 20px 20px 0 20px;
  background-color: white;
  margin: 10px;
  float: left;
}

/* line 61, ../../ui/sass/main.scss */
#loadingpins {
  text-align: center;
}

/* line 65, ../../ui/sass/main.scss */
footer {
  margin-top: 20px;
}

/** ============ TODO: if compass has already definde?? */
/* line 71, ../../ui/sass/main.scss */
.clear {
  clear: both;
}

/* line 74, ../../ui/sass/main.scss */
.right {
  float: right;
}

/* line 77, ../../ui/sass/main.scss */
.left {
  float: left;
}

/* line 80, ../../ui/sass/main.scss */
.hide {
  display: none;
}
