body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F5F5;
}

a {
  color: #00B7FF;
}

.pin {
    padding: 20px 20px 0 20px;
    background-color: white;
    margin: 10px;
    float: left;
}

footer {
    clear: both;
}