
@import "compass/reset";
@import "compass";
@import "variable.scss";

body {
    padding: 0 30px 30px;
    font: $default-font;
    background: #F7F5F5 url(../imgs/bg.jpg);
}

nav {
    height: 50px;
    padding: 5px 0;
    > a {
        margin-left: 200px;
    }
    ul {
        margin-right: 100px;
        li {
            display: inline;
            a {
                light-height: 13px;
                padding: 10px;
            }
        }
    }
}

a {
    color: #00B7FF;
}

.pin {
    padding: 20px 20px 0 20px;
    background-color: white;
    margin: 10px;
    float: left;
}

#loadingpins {
    text-align: center;
}

footer {
    margin-top: 20px;
}


/** ============ TODO: if compass has already definde?? */
.clear {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hide {
  display: none;      
}

