
@import "compass/reset";
@import "compass";
@import "variable.scss";

body {
    padding: 30px;
    font: $default-font;
    background: #F7F5F5 url(../imgs/bg.jpg);
}

a {
    color: #00B7FF;
}


footer {
    clear: both;
}

.pin {
    padding: 20px 20px 0 20px;
    background-color: white;
    margin: 10px;
    float: left;
}
